<ion-view view-title="Weather">

  <ion-content>
    <ion-list>
	<div>
	    <input type="text" placeholder="City Name" ng-model="cityName">
	    <button class="button button-small button-blue" ng-click="weatherCity(cityName)">
	      Submit
	    </button>
	</div>

	<div class="row" style="background:#fff;padding:0px">
	<div class="col col-25" style="padding-top:8%; text-align:right">
		<span ng-if="weatherreport[0].weather[0].description=='broken clouds'">
	      <img src="img/cloud.png" height="30">
	    </span>
	    <span ng-if="weatherreport[0].weather[0].description.includes('snow')">
	      <img src="img/cloud-with-snow.png" height="30">
	    </span>
	    <span ng-if="weatherreport[0].weather[0].description.includes('rain')">
	      <img src="img/cloud-with-rain.png" height="30">
	    </span>
	    <span ng-if="weatherreport[0].weather[0].description=='clear sky'">
	      <img src="img/sun.png" height="30">
	    </span>
	</div>
	
	<div class="container">
	  
		<div> {{date | date:'MM-dd-yyyy'}}</div>
		
	<h3> Details</h3>

	<div class="row header">
		<div class="col"> Description </div>
		<div class="col">{{weatherreport[0].weather[0].description}}</div>
	</div>

	<div class="row header">
		<div class="col"> Minimum Temperature </div>
		<div class="col">{{weatherreport[0].temp.min | number:0}}</div>
	</div>

	<div class="row header">
		<div class="col"> Maximum Temperature </div>
		<div class="col">{{weatherreport[0].temp.max | number:0}}</div>
	</div>

	<div class="row header">
		<div class="col"> Precipitation </div>
		<div class="col">{{weatherreport[0].clouds}}</div>
	</div>

	<div class="row header">
		<div class="col"> Humidity </div>
		<div class="col">{{weatherreport[0].humidity}}</div>
	</div>

	<div class="row header">
		<div class="col"> Speed </div>
		<div class="col">{{weatherreport[0].speed}}</div>
	</div>


</div>
	  
    </ion-list>
  </ion-content>
</ion-view>
